.SignIn .container {
  margin: 20px;
}

.SignIn .container h2 {
  display: flex;
}

.container .form .signin-button {
  margin-top: 40px;
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
}

.signin-button a {
  text-decoration: none;
  color: white;
}

.SignIn .snackbar {
  position: fixed;
  width: 500px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
}
